<html>
 <head>
  <title>LK\Twigstring form test</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lktwigstringform/css/forms.css') }}" />
 </head>
 <body>
  <h1>LK\TwigstringBunlde form example</h1>
  <form action="{{ path('renderstring_form') }}" method="post">
   <fieldset>
    <legend>Set variables</legend>
    {{ form_widget(vars) }}
   </fieldset>
   <fieldset>
    <legend>Twig </legend>
    {{ form_widget(code) }}
    <div>allowed tags: {{ '{{' }} ... {{ '}}' }}, {{ '{%' }} ... {{ '%}' }}</div>
   </fieldset>
   <input type="submit" value="Execute" />
  </form>
  <h2>You rendered:</h2>
   <pre>{{ rendered|default('nothing ...') }}</pre>
 </body>
</html>